<h1>show view</h1>

<%= @task.title %>
<%= @task.details %>
<%= @task.completed %>

<%= link_to "Editer la tache", edit_task_path %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
